.button1 {
    all: unset;
    box-sizing: border-box;
    font-family: var(--font-base);
    font-size: 1.8rem;
    text-align: center;
    background-color: var(--color-secondary);
    color: white;
    border-radius: .5rem;
    padding: 1.2rem 3.5rem;
    margin-top: 2rem;
    cursor: pointer;
    width: 100%; 
    transition: all 0.3s ease;
}

.button1:hover {
    background-color: var(--color-primary);
    color: white;
}

.button1:active {
    background-color: var(--color-primary); 
    transform: scale(0.98); 
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.24); 
}