.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--font-base);
  background-color: var(--color-primary);
}

.login-logo {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  padding-right: 6rem;
  
}

.login-omega {
  font-size: 12rem;
  line-height: 100%;
}

.login-title{
  font-size: 8rem;
  font-weight: 400;
  line-height: 100%;
}



.login-login {
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 5rem 4rem;
}

.login-login__title{
  color: var(--color-primary);
  font-size: 3rem;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  width: 100%; /* opcional si el padre ya tiene ancho definido */
  max-width: 40rem;
  
}

.login-input{
  all: unset;
  box-sizing: border-box; 
  padding: 1.2rem 3.5rem;
  background-color: inherit;
  border: 2px solid var(--color-secondary); 
  font-family: var(--font-base); 
  font-size: 1.6rem;
  color: var(--color-primary);
  width: 100%;
}

.login-input::placeholder {
  color: var(--color-secondary); /* o cualquier otro color */
  opacity: .7; /* por si querés que no sea tan tenue */
}
  

.login-input:first-of-type{
  border-top-left-radius: .6rem;
  border-top-right-radius: .6rem;
  border-color: var(--color-secondary);
}

.login-input:last-of-type{
 border-bottom-left-radius: .6rem;
  border-bottom-right-radius: .6rem;
  border-top: none;
  border-color: var(--color-secondary);
}

.login-button{
  all: unset;
  box-sizing: border-box;
  font-family: var(--font-base);
  font-size: 1.8rem;
  text-align: center;
  background-color: var(--color-secondary);
  color: white;
  border-radius: .5rem;
  padding: 1.2rem 3.5rem;
  margin-top: 2rem;
  cursor: pointer;
  width: 100%;
}
.login-login_pass{
  color: var(--color-primary);
  font-size: 1.5rem;
}