.navbar__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 4rem;
  background-color: var(--color-primary);
  color: var(--color-primary);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;

  padding: 3rem;
}
.navbar-title__title{
  color: #fff;
  font-weight: 600;
}
.navbar-title__logo {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
  margin-right: 2rem;
}

.navbar-title__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-icons__wrapper {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.navbar__home, .navbar__logout {
  font-size: 3.5rem;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.navbar__home:hover, .navbar__logout:hover {
  transform: scale(1.05);
}
