.units-page {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-top: calc(3rem + 4rem);
    /* altura del navbar + padding extra */
    background-color: #ffffff;
    min-height: 100vh;
}

.units-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 180rem;
    padding: 0 2rem;
}

.units-page h2 {
    font-size: 4rem;
    color: var(--color-primary);
    font-weight: 400;
    text-align: center;
    margin: 1rem 0;
}

.units-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 180rem;
    margin: 0 auto;
    border-radius: 8px;
    background-color: var(--color-secondary-light);
}