.units-page {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-top: calc(3rem + 4rem);
    background-color: #ffffff;
    min-height: 100vh;
}

.units-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 180rem;
    padding: 0 10rem;
}

.units-page h2 {
    font-size: 4rem;
    color: var(--color-primary);
    font-weight: 400;
    text-align: center;
    margin: 1rem 0;
}

.units-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 4rem;
    margin: 0 2rem;
    border-radius: 1rem;
    background-color: var(--color-secondary-light);
    width: fit-content;
    min-width: min-content;
}