.units-page {
    padding: 2rem;
    padding-top: calc(3rem + 4rem); /* altura del navbar + padding extra */
    background-color: #ffffff;
    min-height: 100vh;
}

.units-page h2 {
    font-size: 4rem;
    color: var(--color-primary);
    font-weight: 400;
    text-align: center;
    margin: 1rem 0;
}

.units-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
    max-width: 180rem;
    margin: 0 auto;
    border-radius: 8px;
    background-color: var(--color-secondary-light);
}

.loading{
    font-size: 1.8rem;
    color: var(--color-secondary);
    margin: 4rem;
}
